*{
    box-sizing: border-box;
  }
  body{
      text-align:center;
  }
  hr{
      
      height:3px;
      width:10%;
      display:block;
      margin-top: 3em;
      margin-bottom: 3em;
      margin-left: auto;
      margin-right: auto;
      border-style: dotted none none;
      border-width: 5px;
      border-color:rgb(145, 192, 192);
      
  }
  h1{
      color:rgb(82, 49, 10);
  }
  h2{
      font-family: 'Sacramento', cursive;
      font-size:3rem;
      color:#66BFBF;
  }
  h3{
      color: rgb(5, 82, 150);
  }
  p{
      font-family: 'Nunito', sans-serif;
      color:#11999E;
      text-shadow:1px 0 1px rgb(26, 194, 194);
  }
  .navbar{
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color:#66BFBF;
      padding:20px;
  }
  .listbar{ 
      display:inline;
      line-height: 2;
  }
  .listbar a {
      color: #fff;
      padding: 8px 16px;
      text-decoration: none;
  }
    
    /* Change the link color on hover */
  li a:hover {
      background-color:#ff4c68;
      color: white;
  }
  th{
      color:#66BFBF;
  }
  #Title{
      background-color:#E4F9F5;
      padding:7% 10%;
      margin:5%;
      display:flex;
      flex-flow:row wrap;
  }
  #Title img{
     width:10rem;
     margin:0 2rem 0 6rem;
  }
  .Table{
      margin:auto;
      text-shadow:1px 0 1px rgb(26, 194, 194);
      position:relative;
      left:5%;
  }
  #Experience h3{
    color:rgb(5, 117, 117);
  }
  #Experience ol{
    margin:0 28%;
    text-align: justify;
    line-height: 1.5;
    text-shadow:1px 0 1px rgb(26, 194, 194);
  }
  .project{
      text-decoration: none;
      font-weight: 700;
      color:#000;
  }
  .project:hover{
      color:#ff4c68;
  }
  #education{
      background-color:#E4F9F5;
  }
  .grid-container{
    font-weight: 800;
    line-height: 3;
    color:#11999E;
}
.row::after {
    content: "";
    clear: both;
    display: table;

}
.col-1{
    float: left;
    padding: .5%;
    width: 24%;
}
.col-2{
    float:left;
    padding:.5%;
    width: 26%;
}
/* .skill-name{
    display:inline;
} */
  #s-skill{
      background-color:#E4F9F5;
  }
  #footer{
      margin:5%;
      background-color:#66BFBF;
      margin-top:10%;
  }
  .footer-icon{
      margin: 2% .7%;
      color:#000;
      
  }
  .footer-icon:hover{
      color:#ff4c68;
      text-decoration:none;
  }
  .contact{
      color:rgb(238, 231, 231);
  }
  #footer p span{
    font-family: 'Sacramento', cursive;
  }
  
