body{
     font-family: 'Montserrat', sans-serif;
     font-weight: 400;
     text-align:center;
}
h2,h3{
    font-weight: 800;
    font-size:1.5rem;
}
p{
    color:#8f8f8f;
}

/* Title Section */
#title{
    background-color:#ff4c68;
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}
/* #features{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin:9.375rem;
} */
.h1-title{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 800;
    font-size:3rem;
    line-height: 1.5;
    color:white;
}
.container-fluid{
    padding:7% 15%;
}
.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2rem;
    padding-left:0;
}

.item{
    padding:0 1.875rem;
}
.fab{
    margin-right:.5rem;
}
.rotate{
   
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right:30%;
}
.download-button{
    margin:5% 3% 5% 0;
}
/* Features section */
#features{
    /* Padding can't be negative */
    position: relative;
    background-color:#fff;
}
.icon{
    color:#ef8172;
    font-size:3.5rem;
    margin-bottom:5%;
}
.icon:hover{
    color:#ff4c68;
}
.feature-box{
padding:5%;
}
/* Testimonial Section */
#testimonials{
    background-color:#ef8172;
}
.h2-testimonial{
    font-size: 3rem;
    line-height: 1.5; 
    color:#fff;
}
.testimonial-image{
    margin:2%;
    border-radius:100%;
    width:10%;
}
/* Press-Section */
#press{
    background-color:#ef8172;
    padding-bottom:3%; 
}
.press-logo{
    width:13%;
    margin:1.5%;
}
/* Pricing Section */
#pricing{
    padding:100px;
}
.h2-price{
    font-size: 3rem;
    line-height: 1.5;
    color:#000;
}
.button{
    display: block;
    width:100%;
}
.column-price{
    padding:5% 3%;
}
/* CTA Section */
#cta{
    background-color: #ff4c68;
}
/* Footer Section */
#footer{
    margin:5%;
    background-color: #fff;
}
.footer-icon{
    margin: 2% .7%;
    color:#000;
    
}
.footer-icon:hover{
    color:#ff4c68;
    text-decoration:none;
}
@media (max-width:968px){

    #title{
     text-align:center;
    }
    .rotate{
        transform: rotate(0);
        position:static;
    }
}